# Dependencias
node_modules/

# Variables de entorno
.env

# React Native (GeoRiceApp)
GeoRiceApp/android/.gradle/
GeoRiceApp/android/app/build/
GeoRiceApp/android/app/.cxx/
GeoRiceApp/android/build/
*.o

# Logs
npm-debug.log
yarn-error.log

# Sistema operativo
.DS_Store
Thumbs.db